<section class="contact-body"><h1>contact</h1></section>
<section class="contact">
    <form>
        <input type="text" id="name" placeholder="Name" />
        <input type="text" name="email" id="email" placeholder="email"/>
        <div id='error'></div>
        <textarea id="message"></textarea>
        <input type="submit" id="ok" value="submit" placeholder="write your message here"/>
    </form>
    <section class="contact-links">
        <div class="links">GitHub: <a href="{{contacts.github}}" target="_blank">SthaSub</a></div>
        <div class="links mail">Email: <a href="{{contacts.email}}" target="_blank">subhashshrestha3@gmail.com</a></div>
        {{!-- <div class="links">Twitter: <a href="{{contacts.twitter}}" target="_blank">@shasyah_newar</a></div> --}}
        <div class="links">Linkedin: <a href="{{contacts.linkedin}}" target="_blank">Subhash Shrestha</a></div>
    </section>
</section>