<aside class="sidebar">Links
    <ul>
        <li><a href="/portfolio/"><i class="fas fa-arrow-alt-circle-right">Portfolio</i></a></li>
        <li><a href="/contact/"><i class="fas fa-arrow-alt-circle-right">Contact</i></a></li>
        <li><a href="{{home.resume}}" download="resume"><i class="fas fa-arrow-alt-circle-right">Resume</i></a></li>
    </ul>
</aside>
<section class="area">
    <section class="about"><h1>about me</h1></section>
    <figure class="images">
        <img src="{{home.profile}}" id="profile" alt="Profile Image" class="profile">
    </figure>
    <article class="words">
        {{home.description}}
    </article>
</section>